.book-card {
  background-color: #21252b;
  color: #abb3bf;
}
.books-wrapper {
  padding: 12px;
  box-sizing: border-box;
  overflow: auto;
  flex: 0 0 100%;
  height: 100%;
  background-color: #21252b;
}
.library {
  /* background-color: #21252b; */
  display: flex;
  flex-direction: row;
  height: 100%;

  /* text-align: center; */
}
